*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* img{
    display: block;
    width: 100%;
    height: 100%;
} */
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
header::after{
    position: absolute;
    content:"";
    background-image: url(../img/rLsYEI.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
}
.card{
    background: rgba( 255, 255, 255, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 3.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-header{
    background: rgba( 255, 255, 255, 0.36 );
}
.form-control{
    min-width: 60%;
}
#select-country::placeholder{
    font-size: 1.4rem;

}
#flag{
    max-width: 10rem;
}
h4{
    margin: 1em;
}
h4 span{
    margin-right: 1rem;
}
#select-country{

    min-width: 22rem;
    font-size: 1.4rem;
}